:root {
  color-scheme: light dark;
  background-color: #ffffff;
  font-family: system-ui, ui-rounded, "Apple Color Emoji", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #11011f;
  }
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

